@charset "utf-8";
@font-face{
	font-family: "Castle Font";
	/*src: url('../fonts/castlefont.ttf'); */
	src: url('../fonts/oldenglishfive.ttf');
	/*src: url('../fonts/Old London.ttf'); */
	font-weight: 100 1700;
}
/* Simple fluid media  Version 1
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { 
	margin: 0; 
	line-height: 1.231; 
	background-image: url("../images/stonewall.jpg");
	background-size: cover;
}


/* DO NOT REMOVE - IN USE */
body, input, select, textarea {
	font-family: sans-serif;
	color: #222;
}
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}
/* POPUPS format the popup help text boxes */
.width-equal-thirds{
	width:33%;
}
.border-on{
	/* Used to turn borders on and off to test view layouts */
	border: .25em solid black;
}

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.popup {
	position: relative;
	display: inline-block;
	color:blue;
	text-decoration:underline;
	cursor: help;
}
.popup .popuptext {
	visibility: hidden;
	/* default width, overrides are in tablet and desktop media types */
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    margin-left: -80px;	
}
/* This displays the little down arrow from the text box */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 35%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/* This allows the JS to toggle the popup visibility */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
} 
/**************************************** Mobile Layout: 480px and below. ****************************/
h1 {
	width: 99%;
	font-family: "Castle Font";
	margin: auto;
	text-align: center;
	font-size: 7.5vw;
}

h2, .h2 {
	width: 99%;
	margin: auto;
	text-align: center;
	font-size: 4vw;
	font-weight:normal;
}

#Staff h2{
	/* This formats the staff page to fix on 1 mobile screen. */
	margin-bottom:0;
	padding-bottom:0;
}
h3{
	font-size:5vw;
	font-weight: normal;
	text-align: center;
	margin: 0;
	color:red;
}
textarea{
	maxlength:256;
}
input {
	box-sizing: border-box;
}
input[type=checkbox], input[type=radio]{
	transform:scale(1.25,1.25);
}
.popup .popuptext{
	width:160px;	
	left:100%;
}
.red{
	color:red;
}
.error{
	color:red;
}
.white{
	color:white;
}
.hidden{
	visibility:hidden;
	display: none !important;
}
.label {
	width: 30%;
	padding-right: 0;
	text-align: right;
}
.value{
	text-align: left;
	padding-left: 0;
	padding-left: 0.5em;
}
.gridContainer-footer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	/*padding-top: -2em;*/
	width: 98%;
	max-height: 88vh;
	overflow: auto;
}
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	/*padding-top: -2em;*/
	width: 98%;
	overflow: auto;
}
.center{
	margin-left:auto;
	margin-right:auto;
	width:99%;
	text-align:center;
}
.centerText{
	text-align:center;
}
.vertical-center{
	margin:0;
	position: absolute;
	top:50%;
	width: inherit;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.vertical-horizontal-center{
	margin:0;
	position: absolute;
	top:50%;
	left:50%;
	width: inherit;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.nowrap{
	white-space: nowrap;
}
.narrow{
	margin:0;
	padding:0;
}
.left{
	text-align: left;
}
#header {
	clear: both;
	float: left;
	padding-top: 1px;
	margin: 0 1em;
	margin-left: 0;
	width: 98%;
	display: block;
	font-size: 7vw;
	text-align: center;
}
#error {
	color:red;
}
#status{
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	font-size: 5vw;
	font-weight:normal;
	padding: 0.25em 0em;
}
#dataLayout{
	clear: both;
	float: left;
	margin-left: 0;
	margin-top: .5em;
	width: 90%;
	display: block;
}
#buttonGroup{
	margin-top: 0;
	padding-top: 0;
	width:95%;
	opacity: 0%;
	margin-left:auto;
	margin-right:auto;
	text-size: 100%;
}
.button{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius:8px;
	border: solid .25em #20538D;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255, 0.4), 0 1px;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px; 
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgb;
	font-family: Verdana, Geneva, sans-serif;
	cursor: pointer;
	padding: 0.25em 0.5em;
	display:inline;
	margin: .25em .15em;
	background: #4479BA;
	color: white;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	font-size: 4vw;
}
.button:disabled{
	background-color: LightGray;
	color: DarkGray;
	cursor: default;
}
.button:hover{
	color: #4478BA;
	background: white;
}
/* All table elements basic display */
table {
	width:99%;
	margin:auto;
	margin-top:1em;
	border:.25em solid;
	border-collapse:collapse;
	border-spacing:0px;		/* equivalent to cellspacing*/ 
}
td {
	padding: 0.45em;
}
/* Any element inside a tr tag on the Search page*/
#Search.tr *{
	font-size: 0.75em;
	padding: 0.3vw;
}
tr *{
	font-size: 0.75em;
	padding: 0.3vw;
}
hr {border:none;}
#Find table, p{
	border: 5px solid black;
	background-color: LightGray;
	opacity: 0.9;
}
#Find p{
	font-size: 1.25em;
	padding: 0.5em;
}
#Find hr{background-color: black;}
#Find td{font-size: 2em;}

/* FAMILY PAGE */
#Family .value, #Family .label, #Family td {
	font-size: 1.2rem;
	padding-bottom: 1.2vh;
}
#Family .label{min-width: 12%;}

#Student table{
	border-color: rgb(31,122,31);
	background-color: rgb(153,255,153);
}
#Student hr{background-color: rgb(31,122,31);}
/* Only the summary screen has a th for Student */
#Student th{
	background-color: rgb(31,122,31);
	color: white;
}
#Staff table{
	border-color: rgb(153,51,153);
	background-color: rgb(230,179,230);
}
#Staff hr{background-color: rgb(153,51,153);}
#Staff th{
	background-color: rgb(153,51,153);
	color:white;
}
#Phone table{
	border-color: rgba(68, 121, 186, 1);
	background-color: rgba(0,0,255,0.25);
}
#Phone th{
	background-color: #4479BA;
	color:white;
}
#Staff td.label {
	width:33%;
}
#Menu2 {
	float: left;
	margin-left: 5.2631%;
	width: 47.3684%;
	display: block;
}
#mnuBtn {
	display: inline-block;
	border-radius: 25px;
	background-repeat: no-repeat;
	background-position: center;
	width: 45%;
	height: 25%;
	padding-top: 35%;
	margin:.1em;
	color: white;
	font-family: "Castle Font";
	font-size: 6vw;
	text-align: center;
	background-size: contain;
}

#mnuBtn span {
	font-family: "Castle Font";
	display:table-cell;
	vertical-align:middle;
	width:inherit;
	height:99%;
	font-size: 125%;
 
}

.find{
	background-image:url("../images/find.jpg");
	border: thick solid rgba(255,102,0,1);
}
.student{
	background-image: url("../images/students.jpg");
	border: thick solid rgba(31,122,31,1);
}
.staff{
	background-image: url("../images/volunteer.jpg");
	border: thick solid rgba(153,51,153,1);
}
.register{
	background-image: url("../images/window1.gif");
}
.schedule{
	border: thick solid orange;
	background-image: url("../images/schedules.jpg");
}
.pictures{
	border: thick solid green;
}
.monday{
	border: thick solid green;
}
.stats{
	background-image: url("../images/stats.jpg");
}
a:link{
	/* Used to remove the hyperlink style from the Menu buttons */
	text-decoration:none;
	color:white;
}
.bottom{
/* Used to place the bottom menu at the bottom */
	clear:both;
	display:block;
	width: 84%;
	margin-left: 0;
	float: left;
	margin: 5px 14px;
	padding: 12px;
	max-height: 25px;
}
 
#Footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 12vh;
}
#OLDFooter {
	width: 96%;
	position: absolute;
	clear: both;
	float: left;
	margin-left: 0;
	text-align:center;
	display: block;
	padding: 2.5vmin; 
	bottom:1px;
	left:1px;
	font-size: 1vmax; /* 80%; */
}
#Button0{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo img{
	display: block;
	height: 60%;
	width: 60%;
	margin: auto;
}
#counter{
	width: 100%;
	margin: auto;
	top: 0%;
	text-align: center;
	font-size: 5vmin;
	margin-bottom: 2.5vh;
}
/************************************************ CONFO PAGE *********************************************************************************/
/* Styles that apply only to the confirmation screen */
#Family table.confo{
	width: 99%;
	float: left;
}
#Family .confo td{
	padding: .25em;
	font-size: .5vw; 
}
.buttonGroup.center.border-on #mnuBtn a {
}
.buttonGroup.center.border-on #mnuBtn a {
}




/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
/********************************************************  TABLET LAYOUT ********************* TABLET LAYOUT ************************************/
@media only screen and (min-width: 481px) {
h3{
	font-size: 2.5vw;
}
.buttonGroup.center.border-on #mnuBtn a {
}

textarea{
	width:90%;
	height:6em;
	font-size: 2vw;
	rows:6;
}
.button{
	font-size: 2.5vw;
}
table{
	border:.5em solid;
}
tr *{
	font-size: 2.5vw;
	padding: 0.25em;
}
td *{
	font-size: 2.5vw;
}
input[type=checkbox], input[type=radio]{
	transform:scale(1.5,1.5);
}
#status{
	font-size: 1vw;
}
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#header {
	font-size: 5vw;
}
#dataLayout {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Family td.label {
	width:30%;
}
#Family td.value{
	padding-left:.5em;
}
#buttonGroup{
	width:75%;
	margin-left:auto;
	margin-right:auto;
}
#buttonSubGroup{
	width:75%;
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
}
#Menu1 {
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: inline-block;
}
#Menu2 {
	float: right;
	margin-left: 2.5641%;
	width: 48.7179%;
}
#mnuBtn{
	width: 20%;
	height: 25%;
	padding-top: 20%;
	margin:.1em;
	font-family: "Castle Font";
	font-size: 2.5vw;
	color: blue;
}
#logo img{
	display: block;
	height: 60%;
	width: 60%;
	margin: auto;
}
}


/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
/********************************************************  DESKTOP LAYOUT ********************* DESKTOP LAYOUT ************************************/
/*@media only screen and (min-width: 769px) { */
@media only screen and (min-width: 836px) {
h1 {
	font-family: "Castle Font";
	font-size: 5vw;
	color:black;
}
h2, .h2 {
	font-weight:normal;
	font-size: 1.5vw;
}
h3{
	font-size: 1vw;
}
#status{
	font-size: 1.5vw;
}

.popup .popuptext{
	width:260px;
	left:25%;
}

.gridContainer-footer {
	width: 70%;
	height: 88vh;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	overflow: auto;
}
.gridContainer {
	width: 70vw;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	overflow: auto;
}
.button{
	font-size: 1vw;
}
.vertical-center{
	margin:0;
	position: absolute;
	top:50%;
	width: inherit;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
tr *{
	font-size: 1em;
	padding: 0.3vw;
}
input[type=checkbox], input[type=radio]{
	transform:scale(2,2);
}
#header {
	font-size: 1vh;
}
#info{
	width: 50%;
	margin:auto;
	padding-bottom: 2%;
	text-align:center;
}
#dataLayout {
	margin-left: auto;
	margin-right: auto;
	min-width: 25vw;
	width: auto;
}
#Phone table{
	width:75%;
}
.value{
	padding-left:1.5em;
}
#Find td{font-size: 2em;}

#Menu1 {
	clear: both;
	float: left;
	width: 25%;
	margin-right: 0;
	margin-left: 12%;
	display: block;
}
#Menu2 {
	clear: none;
	float:right;
	width: 25%;
	margin-left: 0;
	margin-right: 12%;
	display: block;
}

#mnuBtn{
	background-image: url(../images/window1.gif);
	background-size: contain; /* was cover */
	/*width: 23%; 
	padding-top: 25%; */
	font-size: 2vw;
	vertical-align: middle;
	color: blue;
}

mnuBtn span{
	margin-bottom: 45%;
	marign-top: 45%;
}


#mnuButton{
	font-size: 2em;
}
#buttonGroup{
	margin-top: 1%;
/*	display: block;
	width: 90%;
	margin-left:auto;
	margin-right:auto; */
}
#Button0 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 15.2542%;
	display: block;
}
}

/* These styles apply to any media type */
#lstHomeChurch select option{
	max-width:50%;
}
span .bold{
	font-weight: bold;
}
table #schedule{
	border-collapse:collapse;
}

#schedule tr:nth-child(even) {background-color: rgba(255,255,51,1)}

/* * * * * * * * * * * * * * *   INDEX / SPLASH PAGE * * * * * * * * * * * * * */
#logo img{
	height: 40%;
	width: 40%;
}

/* * * * * * * * * * * * * * *   TEST CLASSES * * * * * * * * * * * * * */
.test-border{
	border: solid;
	border-color:black;
}

}
