@charset "utf-8";
@font-face{
	font-family: "Castle Font";
	src: url('../fonts/oldenglishfive.ttf');
	font-weight: 100 1700; 
}
/* Simple fluid media  Version 1
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
html { font-size: 100%;  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body {
	font-size: 100%;
	margin: 0; 
	line-height: 1.231; 
	background-image: url("../images/stonewall.jpg");
	background-size: cover;
}


/******************* FOR TESTING ******************/
/*div {border:5px dashed blue;} */
/* div div {border: 5px dashed green;} */
/* #Register, #Search, #Results, #Student, #Contacts {border: 3px dotted orange;}  @@ TESTING */

/************* GENERAL ELEMENT STYLES ****************/
/* DO NOT REMOVE - IN USE */
body, input, select, textarea {
	font-family: sans-serif;
	color: #222;
}
h1 {
	font-family: "Castle Font";
	margin: auto;
	text-align: center;
	font-size: 6.5vmin;
}
h2  {
	margin: auto;
	text-align: center;
	font-size: 2rem;
	font-weight:normal;
}
hr {border-top: 5px solid black;}
input {
	box-sizing: border-box;
}
input[type=checkbox], input[type=radio]{
	transform:scale(1.25,1.25);
}
input:focus, select:focus, textarea:focus{background-color: yellow}
/* input[type=submit]:focus{background-color: transparent} */
table {
	width:99%;
	margin:auto;
	margin-top:0.25em;
	border: 0.25em solid;
	border-collapse: collapse;
	border-spacing: 0px;		/* equivalent to cellspacing*/ 
}
td {padding: 0.45em;}
a:link{
	/* Used to remove the hyperlink style from the Menu buttons */
	text-decoration:none;
	color:white;
}
textarea{
	maxlength:256;
}
tr *{
	font-size: 1rem;
	padding: 0.3vw;
}



/******************************************* GENERAL CLASS STYLES *********************************/

/* POPUPS format the popup help text boxes */
.width-equal-thirds{
	width:33%;
}
.border-bottom{	/* Puts a border at the bottom of the element. Good for header rows in tables */
	border-bottom: inherit;
	border-bottom-color: inherit;
	border-bottom-width: inherit;
	border-bottom-style: solid;
}

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* This is used to keep check boxes and labels on the same line */
.item {
	white-space: nowrap;
	display: inline;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.popup {
	position: relative;
	display: inline-block;
	color:blue;
	text-decoration:underline;
	cursor: help;
}
.popup .popuptext {
	visibility: hidden;
    width: 45vw;   /* default width, overrides are in tablet and desktop media types */
    max-width: 400px;
    background-color: black;
    border: 3px dashed yellow;
    color: white;
    text-align: left;
    font-size: 1rem;
    border-radius: 8px;
    padding: 8px 6px;
    position: fixed;
    z-index: 2;
    right: 10vw;
}

/* ? IS THIS USED ? This displays the little down arrow from the text box */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 35%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/* This allows the JS to toggle the popup visibility */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.red{
	color:red;
}
.error{
	color:red;
}
.white{
	color:white;
}
.hidden{
	visibility:hidden;
	display: none !important;
}
.label {
	width: 30%;
	padding-right: 0;
	text-align: right;
	vertical-align: top;
}
.value{
	text-align: left;
	padding-left: 0;
	padding-left: 0.5em;
}
.gridContainer-footer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 98%;		/* Increasing this causes left-right scroll on mobile */
	max-height: 88vh;
	overflow: hidden;
}
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 98%;		/* Increasing this causes left-right scroll on mobile */
	overflow: auto;
}
.center{
	text-align:center;
}
.centerText{
	text-align:center;
}
.vertical-center{
	margin:0;
	position: absolute;
	top:50%;
	width: inherit;
	transform: translateY(-50%);
}
.horizontal-center{
	margin: auto;
	position: fixed;
	left:50%;
	transform: translateX(-50%);
}
.vertical-horizontal-center{
	margin:0;
	position: absolute;
	top:50%;
	left:50%;
	width: inherit;
	transform: translate(-50%, -50%);
}
.nowrap{white-space: nowrap}
.narrow{
	margin: 0;
	padding: 0;
}
.left{text-align: left}
.right{text-align: right}
.float-right{float: right}
.float-left{float: left}


#header {
	clear: both;
	float: left;
	padding-top: 1px;
	margin: 0 1em;
	margin-left: 0;
	width: 98%;
	display: block;
	font-size: 7vw;
	text-align: center;
}
#status{
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	font-size: 5vw;
	font-weight:normal;
	padding: 0.25em 0em;
}
#dataLayout{  /* Includes automatic horizontal centering */
	clear: both;
	margin: auto;
	position: absolute;
	left:50%;
	width: inherit;
	transform: translateX(-50%);
	overflow: auto;
}
#mnuBtn { /* Only used in index page right now */
	width: 12rem;
	border: 5px solid darkblue;
	border-radius: 20px;
	background-color: LightSlateGray;
	padding: 0.5vw;
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	color: DarkBlue;
	font-family: "Castle Font";
	font-size: 2rem;
}
#mnuBtn:hover, #mnuBtn:focus, #mnuBtn:active{
	color: LightSlateGray;
	background-color: DarkBlue;
}
#buttonGroup{
	margin-top: 0;
	padding-top: 0;
	width: inherit;
	margin-left:auto;
	margin-right:auto;
}
#buttonSubGroup{
	border-top: 5px solid black;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	width: inherit;
}

.button{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius:8px;
	border: solid .25em #20538D;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255, 0.4), 0 1px;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px; 
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgb;
	font-family: Verdana, Geneva, sans-serif;
	cursor: pointer;
	padding: 0.25em 0.5em;
	display:inline;
	margin: .25em .15em;
	background: #4479BA;
	color: white;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	font-size: 4vw;
}
.button:disabled{
	background-color: LightGray;
	color: DarkGray;
	cursor: default;
}
.button:hover, .button:focus{
	color: #4478BA;
	background: white;
}

/*************************** GENERIC PAGE LEVEL STYLES **********************/
#Find table, p{
	border: 5px solid black;
	background-color: LightGray;
	opacity: 0.8;
}
#Find p{
	font-size: 1.25em;
	padding: 0.5em;
}
#Find td{font-size: 2em;}

/************************* SPECIFIC PAGE LEVEL STYLES - Used only on one page ***************/
#Register p{
	margin: auto;
	font-size: 3.25vmin;
}
#Register a:link, #Register a:visited{
	/* Used to remove the hyperlink style from the Menu buttons */
	text-decoration: none;
	color: blue;
}


/****************** SEARCH & RESULTS PAGES *****************/
#Result, #Search {margin-top: 10vh;}

/****************** FAMILY PAGE /*****************/
#Family .value, #Family .label, #Family td {
	font-size: 1.4rem;
	padding-bottom: 1.2vh;
}
#Family .label{min-width: 12%;}

/****************** PHONE / CONTACTS PAGE *********/
#Contacts {clear:both;}
#Contacts .title{
	font-size: 1.1rem;
	text-align: center;
}
#Contacts th, #Contacts td{
	padding: 1vh 0.5vh;
	font-size: 0.75rem;
}
#Contacts .col2, #Contacts .col1{
	width: 40%;
}
#Contacts .col3{
	width: 10%;
}

/****************** STUDENT PAGE (Mobile) *****************/
#Student .value, #Student .label, #Student td{
	font-size: 1.25rem;
	padding-bottom: 0.75vh;
}
#Student .label{width: 34%;}  /* label the class, not the element */
#Student #buttonSubGroup{
	padding-left: 0;
	padding-right: 0;
}


/****************** STAFF PAGE  *****************/
#Staff .value, #Staff .label, #Staff td{
	font-size: 1.2rem;
	padding-bottom: 1vh;
}
#Staff td.label {width:33%}

/****************** CONFIRMATION (CONFO) PAGE  (Mobile) *****************/
#Confo table{
	border: 5px solid black;
	background-color: LightGray;
	opacity: 0.8;
	padding: 0;
}

#Confo #Family .title,
#Confo #Student .title,
#Confo #Staff .title
{
	font-size: 1.5rem;
	text-align: center;
}

#Confo #Student th,
#Confo #Staff th
{font-size: 1rem}

#Confo .value,
#Confo .label,
#Confo #Student td,
#Confo #Staff td{
font-size: 1rem;
padding-bottom: 0.5vh;
}

#Confo #Student td,
#Confo #Staff td{
	font-size: 0.8rem
}

#Confo #Student .col3, 
#Confo #Student .col6,
#Confo #Student .col7 {  /* Used to suppress picture, friend and comments on mobile */
	display: none;
}
#Confo #Staff .col7,
#Confo #Staff .col8,
#Confo #Staff .col9,
#Confo #Staff .col10,
#Confo #Staff .col13{
	display: none;
}




.schedule{
	border: thick solid orange;
	background-image: url("../images/schedules.jpg");
}
.pictures{
	border: thick solid green;
}
.monday{
	border: thick solid green;
}
.bottom{
/* Used to place the bottom menu at the bottom */
	clear:both;
	display:block;
	width: 84%;
	margin-left: 0;
	float: left;
	margin: 5px 14px;
	padding: 12px;
	max-height: 25px;
}
 
#Footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 10vh;
}
#Button0{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo img{
	display: block;
	height: 60%;
	width: 60%;
	margin: auto;
}
#counter{
	width: 100%;
	margin: auto;
	top: 0%;
	text-align: center;
	font-size: 5vmin;
	margin-bottom: 1vh;
}
#copyright{
	color: white;
	font-weight: bold;
	font-size: 1.5vh;
}
#environment{
	display:inline;
	float: right;
	color:yellow;
	font-weight: bold;
	font-size: 2vh;
	border:none;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
/********************************************************  TABLET LAYOUT ********************* TABLET LAYOUT ************************************/
@media only screen and (min-width: 481px) and (max-width: 835px) {
h3{
	font-size: 2.5vw;
}

textarea{
	width:90%;
	height:6em;
	font-size: 2vw;
	rows:6;
}
.button{
	font-size: 2.5vw;
}
table{
	border:.5em solid;
}
tr *{
	font-size: 2.5rem;
	padding: 0.25em;
}
td *{
	font-size: 2.5vw;
}
input[type=checkbox], input[type=radio]{
	transform:scale(1.5,1.5);
}
#status{
	font-size: 1vw;
}
.gridContainer-footer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 98%;		/* Increasing this causes left-right scroll on mobile */
	max-height: 88vh;
	overflow: auto;
}
.gridContainer {
	width: 98%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#header {
	font-size: 5vw;
}
#dataLayout {
 	clear: both;
	float: left;
	margin-left: 0;
	height: 100%;
	width: 100%;
	display: block;
}
/********************** PAGE SPECIFIC OVERRIDES FOR TABLETS ***************************/
#Contacts th, #Contacts td{
	padding: 1vh 0.5vh;
	font-size: 1.2rem;
}
#Contacts .title{
	font-size: 2rem;
}
#Family td.label {
	width:30%;
}
#Family td.value{
	padding-left:.5em;
}
#Confo #Family .title,
#Confo #Student .title,
#Confo #Staff .title
{font-size: 2rem}

#Confo #Student th,
#Confo #Staff th
{font-size: 1rem}

#Confo .value,
#Confo .label,
#Confo #Student td,
#Confo #Staff td{
font-size: 1.25rem;
padding-bottom: 0.25vh;
}

#Confo #Student td,
#Confo #Staff td{
	font-size: 0.8rem
}

#Confo #Student .col3, 
#Confo #Student .col6,
#Confo #Student .col7 {  /* Used to suppress picture, friend and comments on mobile. This makes it visible again. */
	display: table-cell;
}
#Confo #Staff .col7,
#Confo #Staff .col8,
#Confo #Staff .col9,
#Confo #Staff .col10,
#Confo #Staff .col13{
	display: table-cell;
	text-align: center;
}
#Confo #Staff th.col7,
#Confo #Staff th.col8,
#Confo #Staff th.col9,
#Confo #Staff th.col10{
	width: 1.5vw;
	vertical-align: text-bottom;
	transform: rotate(-90deg);
}
#Confo #Staff th{
	vertical-align: bottom;
}


#buttonGroup{
	margin-top: 0;
	padding-top: 0;
	width: inherit;
	margin-left:auto;
	margin-right:auto;
}
#buttonSubGroup{  /* Desktop only */
	width: inherit;
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
}
#logo img{
	display: block;
	height: 60%;
	width: 60%;
	margin: auto;
}
}


/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
/********************************************************  DESKTOP LAYOUT ********************* DESKTOP LAYOUT ************************************/
@media only screen 
and (min-width: 836px) {
h2 {
	font-size: 4rem;
}
h3{
	font-size: 1vw;
}
#status{
	font-size: 1.5vw;
}
.gridContainer-footer {
	width: 90%;
	height: 88vh;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	overflow: auto;
}
.gridContainer {
	width: 70vw;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	overflow: auto;
}
.button{
	font-size: 1.25vw;
}
.vertical-center{
	margin:0;
	position: absolute;
	top:50%;
	width: inherit;
	/* OBSOLETE ? -ms-transform: translateY(-50%); */
	transform: translateY(-50%);
}
input[type=checkbox], input[type=radio]{
	transform:scale(2,2);
}
#header {
	font-size: 1vh;
}
#info{
	width: 50%;
	margin:auto;
	padding-bottom: 2%;
	text-align:center;
}
#dataLayout {
	margin-left: auto;
	margin-right: auto;
	min-width: 25vw;
	width: auto;
}
#Find td{font-size: 2em;}

#Confo #Family .title,
#Confo #Student .title,
#Confo #Staff .title
{font-size: 2rem}

#Confo #Student th,
#Confo #Staff th
{font-size: 1rem}

#Confo .value,
#Confo .label,
#Confo #Student td,
#Confo #Staff td,
#Confo #Student td,
#Confo #Staff td{
font-size: 1.25rem;
padding-bottom: 0.25vh;
}


#Confo #Student .col3, 
#Confo #Student .col6,
#Confo #Student .col7 {  /* Used to suppress picture, friend and comments on mobile */
	display: inline-block;
}
#Confo #Staff .col7,
#Confo #Staff .col8,
#Confo #Staff .col9,
#Confo #Staff .col10,
#Confo #Staff .col13{
	display: inline-block;
}


/******************* PAGE SPECIFIC OVERRIDES FOR DESKTOP **************************/
#Contacts th, 
#Contacts td{
	padding: 1vh;
	font-size: 1.2rem;
}
#Contacts .title{
	font-size: 2rem;
}
#Student .value, 
#Student .label, 
#Family td 
{
	font-size: 1rem;
	padding-bottom: 0;
}
#Staff .value, #Staff .label{font-size: 0.75rem; padding-bottom: 0}
#Family .title, 
#Student .title, 
#Staff .title{font-size:1.45rem}
#Staff tr{padding-top: 0; padding-bottom: 0;}


#mnuButton{
	font-size: 2em;
}
#buttonGroup{
	margin-top: 1%;
	width: inherit;
/*	display: block;
	width: 90%;
	margin-left:auto;
	margin-right:auto; */
}
#Button0 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 15.2542%;
	display: block;
}
}

/* These styles apply to any media type */
#lstHomeChurch select option{
	max-width:50%;
}
span .bold{
	font-weight: bold;
}
table #schedule{
	border-collapse:collapse;
}

#schedule tr:nth-child(even) {background-color: rgba(255,255,51,1)}

/* * * * * * * * * * * * * * *   INDEX / SPLASH PAGE * * * * * * * * * * * * * */
#logo img{
	height: 40%;
	width: 40%;
}


}
